<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamin.neeeerdplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.SplashActivity"
            android:theme="@style/NoTitleTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.user.UserRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.UserRegisterActivity" />
        </activity>

        <activity android:name=".ui.user.UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.UserRegisterActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".ui.player.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTheme"
            android:launchMode="singleTop" />

        <activity android:name=".ui.local.VideoListActivity"
            android:launchMode="singleTop" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.local.FolderListActivity" />
        </activity>

        <activity android:name=".ui.local.FolderListActivity"
            android:launchMode="singleTop" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.user.UserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />


        <activity android:name=".ui.video_comment.VideoWithCommentActivity"
            android:launchMode="singleTop"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity android:name=".ui.user.LostPasswordActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.UserLoginActivity" />
        </activity>

    </application>

</manifest>